name: Publish

on: 
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write 

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install NPM
        run: npm install -g npm@latest

      - name: Publish package
        run: npm publish

